*
!.gitignore
!README.md
!RELEASE_CHECKLIST.md
!THIRD_PARTY_LICENSES.md
!docs/
!docs/*.md
!submission/
!submission/*.pdf
!submission/*.pptx
!submission/*.docx
!demo/
!demo/*.webm
!demo/*.json
!screenshots/
!screenshots/*.png
!results/
!results/*.json
!results/SHA256SUMS.txt
!app/
!app/README.md
